<style>
     *{margin:0px; padding:0px;}
        #wrap{
            border:1px solid red;
            width:90%;
            margin:0 auto;      /* 중앙 정렬 */
        }
        header{
            border:1px solid red;
            width:100%;        /* px로 처리시 박스가 고정됨 */
            height:90px;        /* 원래 처리하지 않지만 처리시 px로 처리 */
        }
        aside{
            border:1px solid red;
            width:250px;
            float:left;
            height:500px;
        }
        main{
            border:1px solid blue;
            width:100%-250px;              /* 박스 내 박스를 정렬할 경우 %를 계산을 해서 알맞게 처리 */
            height:500px;
            margin-left: 250px;
        }
        footer{
            border:1px solid red;
            width:100%;
            height:90px;
        }
        main > div{
            width:20%;
            margin:10px;
            border:1px solid orange;
            height:100px;
            float:left;
        }
</style>